parametersSchema:
    preventNamespacesUsageInDirectories: structure([
        directories: arrayOf(arrayOf(arrayOf(string())))
        exceptions: arrayOf(string())
    ])
    preventUsingNotAllowedArrayKeys: structure([
        directory: string()
    ])
parameters:
    preventNamespacesUsageInDirectories: []
    exceptions: []
    preventUsingNotAllowedArrayKeys: []
services:
	-
		class: Ampeco\PhpstanRules\PreventNamespacesUsageInDirectories
		tags:
		    - phpstan.rules.rule
		arguments:
			directories: %preventNamespacesUsageInDirectories.directories%
			exceptions: %preventNamespacesUsageInDirectories.exceptions%
	-
		class: Ampeco\PhpstanRules\ShouldQueueJobRule
		tags:
			- phpstan.rules.rule
	-
		class: Ampeco\PhpstanRules\PreventUsingOperatorFacadeInMigrations
		tags:
			- phpstan.rules.rule
	-
		class: Ampeco\PhpstanRules\PreventUsingNotAllowedArrayKeys
		tags:
			- phpstan.rules.rule
		arguments:
		    directory: %preventUsingNotAllowedArrayKeys.directory%
