parametersSchema:
    preventNamspacesUsage: structure([
        restricted: listOf(string())
    ])

parameters:
    preventNamspacesUsage:
        restricted: []

services:
	-
		class: Ampeco\PhpstanRules\PreventNamespacesUsage
		tags:
		    - phpstan.rules.rule
		arguments:
			namespaces: %preventNamspacesUsage.restricted%
