parametersSchema:
    preventNamespacesUsageInDirectories: structure([
        directories: arrayOf(arrayOf(arrayOf(string())))
    ])
parameters:
    preventNamespacesUsageInDirectories: []

services:
	-
		class: Ampeco\PhpstanRules\PreventNamespacesUsageInDirectories
		tags:
		    - phpstan.rules.rule
		arguments:
			directories: %preventNamespacesUsageInDirectories.directories%
